#map {
  grid-column: 2;
  height: 100%;
  width: 100%;
}

itinerary-component {
  grid-column: 1;
  height: 100%;
  width: 100%;
}

div#main {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: space-evenly;
}

*{
    box-sizing: border-box;
}