.container {
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

.listContainer {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}



.buttonContainer {
    display: flex;
    grid-row: 2;
    align-items: center;
    justify-content: center;
}

button {
    justify-content: center;
}

li:hover{
    cursor: pointer;
    background-color: gainsboro;
}