
*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template:60px 1fr auto / 250px 1fr;
    margin:0;
}

custom-head{
    display: block;
    grid-row:1;
    grid-column: 1/3;
    width: 100%;
}

custom-foot{
    display: block;
    grid-row: 3;
    grid-column: 1/3;
    width: 100%;

}


#burger_menu{
   display: none;

}



custom-aside{
    grid-row: 2;
    grid-column: 1;
    display: block;
    }

main{
    grid-row: 2;
    grid-column: 2;
    padding: 20px;
}

#mobileMenu{
    display: none;
}





@media screen and (max-width: 1100px) {
    body{
        grid-template:60px 1fr auto / 1fr;
    }

   


    #burger_menu{
    position:fixed;
    top:15px;
    right:10px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 1000;

    }



    main{
        grid-column: 1;
        grid-row: 2;
    }
}




