*{
    box-sizing: border-box;
}



header>img{
    position: fixed;
    top:10px;
    left: 20px;
    height: 45px;
    width: 80px;
}


header,footer{
    grid-column: 1/3;
}

header>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row: 1;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}


a{
    text-decoration: none;
    color: black;
    font-weight: bold;  
}

a:hover{
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width: 1100px) {


    header>nav{
        display: none;
    }

    header>img{
        position: fixed;
        top:5px;
        left: 10px;
        height: 30px;
        width: 75px;
    }

    #burger_menu{
    position:fixed;
    top:5px;
    right:10px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 1000;

    }


    #burger_menu div{
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 3px;
    }




    #burger_menu.open div:nth-child(1){
    transform: rotate(45deg) translate(5px,6.5px);
    transition: 0.3s;
    }
    
    #burger_menu.open div:nth-child(2){
        opacity: 0;
        transition: 0.3s;
    }

    #burger_menu.open div:nth-child(3){
        transform: rotate(-45deg) translate(5px,-6.5px);
        transition: 0.3s;
    }
    
    #burger_menu.close div:nth-child(1){
        transform: rotate(0deg) translate(0px,0px);
        transition: 0.3s;
    }

    #burger_menu.close div:nth-child(2){
        opacity: 1;
        transition: 0.3s;
    }

    #burger_menu.close div:nth-child(3){
        transform: rotate(0deg) translate(0px,0px);
        transition: 0.3s;
    }

    #burger_menu div{
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 3px;
    }
    
    #mobileMenu{
        position: fixed;
        right: 0;
        width: 300px;
        height: 100%;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr;
        z-index: 40;
        background-color: rgb(232, 229, 229);
        border-left: 2px solid black;
        box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    }

     #pageMenu{
        grid-row:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
    }
    
    #chapitres{
        grid-row:3;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
    }
    
    #mobileMenu.visible{
        transform: translateX(
            0
        );
        transition: transform 0.3s;
    }
    
    #mobileMenu.hidden{
        transform: translateX(
            300px
        );
        transition: transform 0.3s;
    }
}